<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tableos.beakerlab">

    <!-- Android 11+ 包可见性：声明可见的 TableOS Provider 与包 -->
    <queries>
        <package android:name="com.tableos.app" />
        <provider android:authorities="com.tableos.app.keystone" />
    </queries>

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="Beaker Lab"
        android:icon="@drawable/ic_flask"
        android:roundIcon="@drawable/ic_flask"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>