<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 全局矫正写入权限，仅签名应用可写入（Settings） -->
    <permission
        android:name="com.tableos.keystone.WRITE"
        android:protectionLevel="signature" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="TableOS"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.TableOS">
        <provider
            android:name=".KeystoneProvider"
            android:authorities="com.tableos.app.keystone"
            android:exported="true"
            android:writePermission="com.tableos.keystone.WRITE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 作为桌面启动器的可选配置：成为HOME入口（用户手动设为默认桌面时生效） -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>